.layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  min-height: 100vh;
  background: #f9fafb;

  &__main {
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    padding: 1rem 2rem;
  }
}
